APP_NAME=JapranMCEH
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://japranmceh-backend.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=postgres.kficrrrniytvubcfytkd
DB_PASSWORD=Zhafar1334455

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
QUEUE_CONNECTION=sync

SANCTUM_STATEFUL_DOMAINS=japranmceh.vercel.app
FRONTEND_URL=https://japranmceh.vercel.app
CORS_ALLOWED_ORIGINS=https://japranmceh.vercel.app

FILESYSTEM_DISK=local

BCRYPT_ROUNDS=12